# Pandas Series and Dataframes

In [1]:
import pandas as pd
import numpy as np

In [2]:
list_1= [10,25,35]

In [4]:
type(list_1)

list

In [5]:
x=np.array(list_1)

In [6]:
x

array([10, 25, 35])

In [7]:
type(x)

numpy.ndarray

In [12]:
y=pd.Series(list_1)
y

0    10
1    25
2    35
dtype: int64

In [11]:
type(y)

pandas.core.series.Series

In [13]:
i_values = ['Best','Second Best','Third Best']
list_1 = [10,25,35]


one=pd.Series(data=list_1,index=i_values)

In [14]:
one

Best           10
Second Best    25
Third Best     35
dtype: int64

In [15]:
i_values = ['Best','Second Best','Forth Best']
list_1 = [10,25,40]

two = pd.Series(data=list_1,index=i_values)

In [16]:
total =one+two

In [17]:
total

Best           20.0
Forth Best      NaN
Second Best    50.0
Third Best      NaN
dtype: float64

In [18]:
type(total)

pandas.core.series.Series

In [19]:
ice_cream = [['MCC',1],['Butterscotch',2],['Butter Pecan',3]]


ice_cream_dataframe = pd.DataFrame(ice_cream,index=['Flavor 1','Flavor 2','Flavor 3'], columns=('Flavor','Scoops'))

ice_cream_dataframe

                Flavor  Scoops
Flavor 1           MCC       1
Flavor 2  Butterscotch       2
Flavor 3  Butter Pecan       3

In [20]:
type(ice_cream_dataframe)

pandas.core.frame.DataFrame

In [21]:
ice_cream = ['MCC','Butterscotch','Butter Pecan']
scoops = [1,2,3]

dataframe_icecream = {'Flavor': ice_cream, 'Scoops': scoops}

ice_cream_dataframe = pd.DataFrame(dataframe_icecream,index=['Flavor 1','Flavor 2','Flavor 3'] )
ice_cream_dataframe

                Flavor  Scoops
Flavor 1           MCC       1
Flavor 2  Butterscotch       2
Flavor 3  Butter Pecan       3